[user]
name = Ayala Shachar
	email = ayalash@il.ibm.com

# Use colors in output wherever it makes sense
[color]
    ui = on
    grep = always

[core]
    ignorecase = true
    excludesfile = ~/.gitignore

[grep]
    lineNumber = true
# Make git push do what you would expect: push to the tracked branch
[push]
    default = tracking

# Use p4merge as graphical mergetool (some bit are Mac specific and may need to be modified)
[merge]
    tool = p4merge
    keepBackup = false
[mergetool]
    prompt = no
[mergetool.p4merge]
    cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false

# Same for difftool
[diff]
    tool = p4merge
    mnemonicprefix = true
	renames = true
[difftool]
    prompt = no
[difftool.p4merge]
    cmd = p4merge "$LOCAL" "$REMOTE"

# Useful aliases
[alias]
    trash = !git add . && git commit -m 'trash' && git reset --hard HEAD^
    propose = !git push origin +HEAD:$USER/proposed/$(git-symbolic-ref HEAD | sed 's/^refs\\/heads\\///')
    unpropose = !git push origin +:$USER/proposed/$(git-symbolic-ref HEAD | sed 's/^refs\\/heads\\///')
    integrate = !git push origin +HEAD:$USER/integrate/$(git-symbolic-ref HEAD | sed 's/^refs\\/heads\\///')
    unintegrate = !git push origin +:$USER/integrate/$(git-symbolic-ref HEAD | sed 's/^refs\\/heads\\///')

    search = !"search() { git branch -l | grep $@; }; search"
    store = !git branch garage/$(git-symbolic-ref HEAD | sed 's/^refs\\/heads\\///')_/archived_$(date +%Y_%m_%d)
    mygrep = !"getGrepped() { grep_str=$1; git --no-pager grep -n --color=always $grep_str; git submodule --quiet foreach \"git grep -n --color=always $grep_str; true\"; }; getGrepped"

    # Provide a nice, compact format for the git log (use with `git lg`)
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%cn%Creset' --abbrev-commit --date=relative
    pushr = push origin refs/notes/*
	review = notes add -m 'Reviewed-by: Ayala Shachar <ayalash@il.ibm.com>'

[github]
	email = ayalash83@gmail.com
	user = ayalash
[branch]
	autosetuprebase = always
